<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment #3</title>
</head>
<body>
    <h1>_____________</h1>
    <hr> 
    {% if _____|length == 0 %}
        <p> No items o__________!</p>
    {% else %}
        <ul>
            {% for ____ in ____s %}
            <li> {{ ___.item }} </li>
            {% endfor %}
        </ul>
    {% endif %}
<a href="{% url 'add______' %}"> Add Item to List</a>
</body>
</html>