{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Assessment #3</title>
</head>
<body>
    <h1>Wacky Widgets</h1>
    {% for widget in widgets %}
        <h5> {{ widget.description }} </h5>
    {% empty %} 
        <h4> No Widgets Exist </h4>
    {% endfor %} 

    <hr>

    <h4> Add Widget </h4> 
    <form action="" class='pure-form' method=POST>
        {% csrf_token %} 
        {{ widget_form.as_p }}
        <input type='text' placeholder="Widget Name">
        <br>
        <input type='number' placeholder="Quantity">
        <br>
        <button type='submit' class='pure-button'> Add Widget </button>

    </form>
</body>
</html>